/*-----RESET----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

font {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*PARA LLAMAR ES IGUAL AL CREADO
($color-boton;)*/
/* PARA HACER EL LLAMADO (map-get)

.boton{
    background-color: map-get($boton, bg-boton);
}*/
/* LLAMADO (@extend %flex-center;

.galeria{
    background-color: grey;
    border: solid 2px black;
    @extend %flex-center;
}*/
.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

/*------HEADER------*/
header {
  background-color: black; }

/**------BOOTSTRAP NAVBAR---------*/
header nav div a img {
  width: px;
  height: 120px; }

header nav div button .navbar-toggler-icon {
  width: 35px;
  height: 35px;
  background-color: #b9b9b9;
  border: 1px solid white;
  border-radius: 5px; }

header nav div div ul .nav-link {
  color: white;
  text-align: center;
  padding: 5px; }
  header nav div div ul .nav-link:hover {
    color: #727272; }
  header nav div div ul .nav-link:active {
    color: rgba(216, 112, 112, 0.644); }

header .boton-header {
  padding: 5px;
  background-color: #4e4e4e;
  color: white;
  border: 1px solid white;
  border-radius: 5px; }

main {
  background-color: #161616;
  width: 100%; }
  main .hero {
    width: 100%;
    height: 500px;
    background-image: url(../img/laura-herrera-camaro-puerta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: left; }
    main .hero div {
      margin: 80px;
      width: 40%; }
      main .hero div h1 {
        font-size: 50px;
        color: white; }
      main .hero div p {
        color: white;
        padding: 20px;
        text-align: justify; }
      main .hero div a {
        font-size: 20px;
        background-color: rgba(87, 87, 87, 0.747);
        text-decoration: none;
        color: white;
        padding: 10px 50px 10px 50px;
        display: inline-block;
        border-radius: 20px; }
  main .servicios-main h2 {
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding: 12px; }
  main .servicios-main .servicios-tarjetas {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    main .servicios-main .servicios-tarjetas div {
      width: 250;
      height: 350;
      text-align: center;
      margin: 10px;
      padding: 5px;
      display: inline-block; }
      main .servicios-main .servicios-tarjetas div h4 {
        color: #5e0707;
        font-size: 22px;
        margin-top: 10px;
        padding: 0; }
      main .servicios-main .servicios-tarjetas div h5 {
        font-size: 14px;
        text-align: justify;
        color: black;
        margin-top: 10px;
        padding: 0;
        align-items: center; }
  main .servicios-main .card-body {
    padding: 0; }
    main .servicios-main .card-body .btn-primary {
      background-color: rgba(87, 87, 87, 0.747);
      border: none; }

main .sobre-mi {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  main .sobre-mi div {
    width: 40%;
    padding: 30px;
    margin: 30px; }
    main .sobre-mi div img {
      width: 300px;
      padding: 5px;
      border-radius: 15px; }

main .trabajos {
  padding: 30px; }
  main .trabajos h2 {
    margin-left: 20px;
    color: white;
    display: inline-block; }
  main .trabajos p {
    color: white;
    margin: 25px;
    text-align: justify; }
  main .trabajos .grid-trabajos {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 320px;
    gap: 6px; }
    main .trabajos .grid-trabajos div img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    main .trabajos .grid-trabajos .img-1 {
      grid-row: span 2; }
    main .trabajos .grid-trabajos .img-3 {
      grid-column: span 2; }
    main .trabajos .grid-trabajos .img-6 {
      grid-row: span 2; }
    main .trabajos .grid-trabajos .img-11 {
      grid-column: span 2; }

main .servicios-main P {
  color: white;
  text-align: justify;
  margin: 30px 60px 30px 60px; }

main .modelos {
  width: 100%;
  height: 550px;
  background-image: url(../img/trabajos01.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  main .modelos p {
    color: white;
    width: 30%;
    padding: 2px; }
  main .modelos a {
    background-color: rgba(87, 87, 87, 0.747);
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin: 10px 0px 0px 50px; }

main .e-comerce-descrip {
  width: 100%;
  height: 550px;
  background-image: url(../img/e-comerce.jpg);
  background-position: bottom -12px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  main .e-comerce-descrip p {
    color: white;
    width: 38%;
    padding: 2px; }
  main .e-comerce-descrip a {
    background-color: rgba(87, 87, 87, 0.747);
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin: 10px 0px 0px 50px; }

main .bodas {
  width: 100%;
  height: 550px;
  background-image: url(../img/novia-en-el-agua-catalina-tobon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  main .bodas p {
    color: black;
    width: 30%;
    padding: 2px; }
  main .bodas a {
    background-color: rgba(87, 87, 87, 0.747);
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin: 10px 0px 0px 50px; }

main .quince {
  width: 100%;
  height: 550px;
  background-image: url(../img/trabajos05.jpg);
  background-position: bottom -12px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  main .quince p {
    background-color: rgba(7, 7, 7, 0.301);
    color: white;
    width: 30%;
    padding: 2px; }
  main .quince a {
    background-color: rgba(87, 87, 87, 0.747);
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin: 10px 0px 0px 50px; }

main .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px; }

main .box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center; }

main .box-info > h1 {
  letter-spacing: 5px; }

main .data {
  display: flex;
  flex-direction: column;
  gap: 25px; }

main .data > p {
  font-size: 20px; }

main .data > p > i {
  color: #ac9010;
  margin-right: 10px;
  font-size: 25px; }

main form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px; }

main .input-box {
  position: relative; }

main .input-box > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.089);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: #fff; }

main .input-box > input::placeholder,
main .input-box > textarea::placeholder {
  color: #a3a3a3; }

main .input-box > input:focus::placeholder,
main .input-box > textarea:focus::placeholder {
  color: transparent; }

main .input-box > input:focus,
main .input-box > textarea:focus {
  border-bottom: 3px solid #ac9010;
  animation: shake .2s; }

main .input-box > textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.075);
  border: 3px solid transparent;
  letter-spacing: 1px;
  outline: none;
  transition: .3s;
  color: #fff;
  letter-spacing: 1.5px; }

main .input-box > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: rgba(255, 255, 255, 0.267);
  transition: .3s; }

main .input-box > input:focus ~ i {
  color: #ac9010; }

main form > button {
  width: 100%;
  padding: 10px;
  outline: none;
  background: rgba(94, 90, 37, 0.973);
  color: #fff;
  border: none;
  transition: .1s;
  cursor: pointer;
  font-size: 1rem; }

main form > button:hover,
main .links > a:hover {
  background: #ac9010; }

main .input-selet {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0.089);
  /*border:3px solid transparent;
        letter-spacing: 1px;
        outline:none;*/
  transition: .3s;
  align-content: center; }

.fixed a img {
  width: 80px;
  position: fixed;
  justify-content: space-around;
  bottom: 80px;
  right: 15px; }

/**----------FOOTER----------*/
footer {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer div {
    display: inline-block; }
    footer div img {
      width: 120px; }
  footer div {
    display: inline-block; }
    footer div ul {
      display: inline-block;
      list-style: none; }
      footer div ul li {
        font-size: 10px;
        margin: 5%; }
        footer div ul li a {
          text-decoration: none;
          color: white; }
  footer .redes img {
    width: 60px; }

@media screen and (max-width: 1024px) {
  main .hero {
    width: 100%;
    height: 400px; }
    main .hero div {
      margin: 60px;
      width: 40%; }
      main .hero div h1 {
        font-size: 40px; }
      main .hero div p {
        padding: 5px; }
      main .hero div a {
        font-size: 15px;
        padding: 4px 40px 4px 40px; } }

@media screen and (max-width: 850px) {
  main .hero {
    width: 100%;
    height: 400px; }
    main .hero div {
      margin: 35px;
      width: 45%; }
      main .hero div h1 {
        font-size: 30px; }
      main .hero div p {
        font-size: 15px; }
      main .hero div a {
        font-size: 13px;
        padding: 4px 40px 4px 40px; }
  main .servicios-main h2 {
    font-size: 25px; }
  main .servicios-main div h4 {
    font-size: 18px; }
  main .modelos p {
    color: white;
    width: 35%;
    padding: 2px;
    margin: 30px 30px 30px 30px; }
  main .e-comerce-descrip p {
    color: white;
    width: 40%;
    padding: 2px;
    margin: 30px 30px 30px 30px; }
  main .bodas p {
    color: black;
    width: 35%;
    padding: 2px;
    margin: 30px 30px 30px 30px; }
  main .quince p {
    color: white;
    width: 35%;
    padding: 2px;
    margin: 30px 30px 30px 30px; } }

@media screen and (max-width: 775px) {
  /**------CONTACTO------*/
  main .input-selet {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    align-content: center; }
  main .data > p {
    font-size: 15px; } }

@media screen and (max-width: 740px) {
  main {
    /**------SOBRE-MI------*/ }
    main .hero {
      width: 100%;
      height: 350px; }
      main .hero div {
        margin: 30px;
        width: 47%; }
        main .hero div h1 {
          font-size: 25px; }
        main .hero div p {
          font-size: 15px; }
        main .hero div a {
          font-size: 14px;
          padding: 5px 40px 5px 40px; }
    main .servicios-tarjetas {
      margin-top: 20px;
      padding-bottom: 2cap;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .servicios-tarjetas div {
        width: 150;
        height: 250;
        text-align: center;
        margin: 5px;
        padding: 10px;
        display: inline-block; }
    main .sobre-mi P {
      font-size: 14PX; }
    main .sobre-mi div {
      width: 40%;
      padding: 0px;
      margin: 5px 0px 20px 5px; }
      main .sobre-mi div img {
        width: 230px;
        padding: 5px 5px 5px 10px;
        border-radius: 15px; }
    main .modelos p {
      width: 37%;
      padding: 0px;
      margin: 20px 20px 20px 20px; }
    main .e-comerce-descrip p {
      width: 45%;
      padding: 0px;
      margin: 20px 20px 20px 20px; }
    main .bodas p {
      color: black;
      width: 35%;
      padding: 0px;
      margin: 20px 20px 20px 20px; }
    main .quince p {
      width: 39%;
      padding: 0px;
      margin: 10px 20px 20px 20px; } }

@media screen and (max-width: 605px) {
  main .hero div {
    margin: 25px;
    width: 47%; }
    main .hero div h1 {
      font-size: 25px; }
    main .hero div p {
      font-size: 14px; }
    main .hero div a {
      font-size: 14px;
      padding: 5px 30px 5px 30px; }
  main .servicios-main h2 {
    font-size: 20px; }
  main .sobre-mi P {
    font-size: 12PX; }
  main .sobre-mi div {
    width: 40%;
    padding: 0px;
    margin: 5px 0px 20px 5px; }
    main .sobre-mi div img {
      width: 200px;
      height: auto;
      padding: 5px 5px 5px 10px;
      border-radius: 15px; }
  main .trabajos {
    padding: 15px; }
  main .grid-trabajos {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 6px; }
  main .modelos p {
    font-size: 14px;
    width: 38%;
    padding: -0px;
    margin: 10px 10px 10px 10px; }
  main .modelos a {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 5px 0px 0px 0px; }
  main .e-comerce-descrip {
    background-image: url(../img/trabajos09.jpg); }
    main .e-comerce-descrip p {
      font-size: 14px;
      color: white;
      width: 45%;
      padding: 0px;
      margin: 10px 10px 10px 10px; }
    main .e-comerce-descrip a {
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
      margin: 5px 0px 0px 0px; }
  main .bodas {
    background-position: right;
    background-position-x: +70%; }
    main .bodas p {
      font-size: 14px;
      color: black;
      width: 35%;
      padding: 0px;
      margin: 20px 20px 20px 20px; }
    main .bodas a {
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
      margin: 5px 0px 0px 0px; }
  main .quince p {
    font-size: 14px;
    width: 39%;
    padding: 0px;
    margin: 10px 20px 20px 20px; }
  main .quince a {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin: 5px 0px 0px 0px; } }

@media screen and (max-width: 600px) {
  main .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px; }
  main .box-info {
    gap: 15px; }
    main .box-info h1 {
      font-size: 1.5rem; }
  main .data > p {
    font-size: 21px; } }

@media screen and (max-width: 535px) {
  main .hero div {
    margin: 25px;
    width: 47%; }
    main .hero div h1 {
      font-size: 25px; }
    main .hero div p {
      font-size: 13px; }
    main .hero div a {
      font-size: 14px;
      padding: 5px 30px 5px 30px; } }

@media screen and (max-width: 430px) {
  main {
    /**------SOBRE-MI------*/ }
    main .hero div {
      margin: 7px;
      width: 55%; }
      main .hero div p {
        font-size: 12px; }
    main .sobre-mi {
      display: block;
      align-content: center;
      text-align: center; }
      main .sobre-mi P {
        font-size: 12PX; }
      main .sobre-mi div {
        width: 90%;
        padding: 0px;
        margin-left: 20px; }
        main .sobre-mi div img {
          width: 150px;
          padding: 5px;
          border-radius: 10px; }
    main .modelos p {
      font-size: 13px;
      width: 40%;
      padding: 0px;
      margin: 7px 10px 10px 10px; }
    main .e-comerce-descrip p {
      font-size: 13px;
      width: 50%;
      padding: 0px;
      margin: 7px 10px 10px 10px; }
    main .bodas p {
      font-size: 13px;
      color: black;
      width: 40%;
      padding: 0px;
      margin: 20px 20px 20px 20px; }
    main .quince p {
      font-size: 13px;
      width: 44%;
      padding: 0px;
      margin: 10px 20px 20px 20px; } }

@media screen and (max-width: 405px) {
  footer div img {
    width: 100px; }
  footer div ul li a {
    font-size: 8px;
    padding: 0px; }
  footer .redes img {
    width: 40px; } }
