/*-----RESET----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

font {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*PARA LLAMAR ES IGUAL AL CREADO
($color-boton;)*/
/* PARA HACER EL LLAMADO (map-get)

.boton{
    background-color: map-get($boton, bg-boton);
}*/
/* LLAMADO (@extend %flex-center;

.galeria{
    background-color: grey;
    border: solid 2px black;
    @extend %flex-center;
}*/
.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

/*------HEADER------*/
header {
  background-color: black; }

/**------BOOTSTRAP NAVBAR---------*/
header nav div a img {
  width: px;
  height: 120px; }

header nav div button .navbar-toggler-icon {
  width: 35px;
  height: 35px;
  background-color: #b9b9b9;
  border: 1px solid white;
  border-radius: 5px; }

header nav div div ul .nav-link {
  color: white;
  text-align: center;
  padding: 5px; }
  header nav div div ul .nav-link:hover {
    color: #727272; }
  header nav div div ul .nav-link:active {
    color: rgba(216, 112, 112, 0.644); }

header .boton-header {
  padding: 5px;
  background-color: #4e4e4e;
  color: white;
  border: 1px solid white;
  border-radius: 5px; }

main {
  background-color: #161616;
  width: 100%; }
  main .hero {
    width: 100%;
    height: 500px;
    background-image: url(../img/laura-herrera-camaro-puerta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: left; }
    main .hero div {
      margin: 80px;
      width: 40%; }
      main .hero div h1 {
        font-size: 50px;
        color: white; }
      main .hero div p {
        color: white;
        padding: 20px;
        text-align: justify; }
      main .hero div a {
        font-size: 20px;
        background-color: rgba(87, 87, 87, 0.747);
        text-decoration: none;
        color: white;
        padding: 10px 50px 10px 50px;
        display: inline-block;
        border-radius: 20px; }
  main .servicios-main h2 {
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding: 12px; }
  main .servicios-main .servicios-tarjetas {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    main .servicios-main .servicios-tarjetas div {
      width: 250;
      height: 350;
      text-align: center;
      margin: 10px;
      padding: 5px;
      display: inline-block; }
      main .servicios-main .servicios-tarjetas div h4 {
        color: #5e0707;
        font-size: 22px;
        margin-top: 10px;
        padding: 0; }
      main .servicios-main .servicios-tarjetas div h5 {
        font-size: 14px;
        text-align: justify;
        color: black;
        margin-top: 10px;
        padding: 0;
        align-items: center; }
  main .servicios-main .card-body {
    padding: 0; }
    main .servicios-main .card-body .btn-primary {
      background-color: rgba(87, 87, 87, 0.747);
      border: none; }

.sobre-mi {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .sobre-mi div {
    width: 40%;
    padding: 30px;
    margin: 30px; }
    .sobre-mi div img {
      width: 300px;
      padding: 5px;
      border-radius: 15px; }

main .trabajos {
  padding: 30px; }
  main .trabajos h2 {
    margin-left: 20px;
    color: white;
    display: inline-block; }
  main .trabajos p {
    color: white;
    margin: 25px;
    text-align: justify; }
  main .trabajos .grid-trabajos {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 320px;
    gap: 6px; }
    main .trabajos .grid-trabajos div img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    main .trabajos .grid-trabajos .img-1 {
      grid-row: span 2; }
    main .trabajos .grid-trabajos .img-3 {
      grid-column: span 2; }
    main .trabajos .grid-trabajos .img-6 {
      grid-row: span 2; }
    main .trabajos .grid-trabajos .img-11 {
      grid-column: span 2; }

.servicios-main P {
  color: white;
  text-align: justify;
  margin: 30px 60px 30px 60px; }

.bodas {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  background-image: url(../img/novia-en-el-agua-catalina-tobon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .bodas p {
    color: #323232;
    margin: 30px 0px 0px 30px;
    width: 35%;
    font-size: 16px; }
  .bodas a {
    background-color: rgba(87, 87, 87, 0.747);
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin: 20px 0px 0px 30px;
    display: inline-block; }

.modelos {
  width: 100%;
  height: 650px;
  background-image: url(../img/trabajos01.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .modelos p {
    color: white;
    background-color: rgba(0, 0, 0, 0.11);
    margin: 15px 0px 0px 30px;
    width: 30%;
    padding: 2px;
    font-size: 15px; }
  .modelos a {
    background-color: rgba(87, 87, 87, 0.747);
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin: 10px 0px 0px 30px;
    display: inline-block; }

.fixed a img {
  width: 80px;
  position: fixed;
  justify-content: space-around;
  bottom: 80px;
  right: 15px; }

/**----------FOOTER----------*/
footer {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer div {
    display: inline-block; }
    footer div img {
      width: 120px; }
  footer div {
    display: inline-block; }
    footer div ul {
      display: inline-block;
      list-style: none; }
      footer div ul li {
        font-size: 10px;
        margin: 5%; }
        footer div ul li a {
          text-decoration: none;
          color: white; }
  footer .redes img {
    width: 60px; }
