@media screen and (max-width:1024px) {
    main{
        .hero {
            width: 100%;
            height: 400px;
            div {
                margin: 60px;
                width: 40%;
                h1 {
                    font-size: 40px;
                }
                p {
                    padding: 5px;
                }
                a {
                    font-size: 15px;
                    padding: 4px 40px 4px 40px;
                }
            }
        }
    }
}

@media screen and (max-width:850px) {
    main{
        .hero {
        width: 100%;
        height: 400px;
        div {
            margin: 35px;
            width: 45%;
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 15px;
            }
            a {
                font-size: 13px;
                padding: 4px 40px 4px 40px;
            }
        }
        }
        .servicios-main {
        h2 {
            font-size: 25px;
        }
        div {
            h4 {
                font-size: 18px;
            }
        }
        }
        .modelos{
            p{
                color:white;
                width: 35%;
                padding: 2px;
                margin: 30px 30px 30px 30px
            }
        }
        .e-comerce-descrip {
            p{
                color:white;
                width: 40%;
                padding: 2px;
                margin: 30px 30px 30px 30px
            }
        }
        .bodas{
            p{
                color:rgb(0, 0, 0);
                width: 35%;
                padding: 2px;
                margin: 30px 30px 30px 30px
            }
        }
        .quince{
            p{
                color:white;
                width: 35%;
                padding: 2px;
                margin: 30px 30px 30px 30px
            }
        }
    }
}
@media screen and (max-width:775px) {
/**------CONTACTO------*/
    main{
        .input-selet{
            width: 100%;
            height: 60px;
            padding: 0 10px;
            align-content: center;
        }
        .data > p {
            font-size: 15px;
        }
    }
}
@media screen and (max-width:740px) {
    main{
        .hero {
            width: 100%;
            height: 350px;
            div {
                margin: 30px;
                width: 47%;
                h1 {
                    font-size: 25px;
                }
                p {
                    font-size: 15px;
                }
                a {
                    font-size: 14px;
                    padding: 5px 40px 5px 40px;
                }
            }
        }
        .servicios-tarjetas {
            margin-top: 20px;
            padding-bottom: 2cap;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div {
                width: 150;
                height: 250;
                text-align: center;
                margin: 5px;
                padding: 10px;
                display: inline-block;
            }
        }
        /**------SOBRE-MI------*/
        .sobre-mi {
            P {
                font-size: 14PX;
            }
            
            div {
                width: 40%;
                padding: 0px;
                margin: 5px 0px 20px 5px;
                img {
                    width: 230px;
                    padding: 5px 5px 5px 10px;
                    border-radius: 15px;
                }
            }
        }
        .modelos{
            p{
                width: 37%;
                padding: 0px;
                margin: 20px 20px 20px 20px
            }
        }
        .e-comerce-descrip {
            p{

                width: 45%;
                padding: 0px;
                margin: 20px 20px 20px 20px
            }
        }
        .bodas{
            p{
                color:rgb(0, 0, 0);
                width: 35%;
                padding: 0px;
                margin: 20px 20px 20px 20px
            }
        }
        .quince{
            p{
                width: 39%;
                padding: 0px;
                margin: 10px 20px 20px 20px
            }
        }
    }    
}

@media screen and (max-width:605px) {
    main{
        .hero {
            div {
                margin: 25px;
                width: 47%;
                h1 {
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                }
                a {
                    font-size: 14px;
                    padding: 5px 30px 5px 30px;
                }
            }
        }
        .servicios-main {
            h2 {
                font-size: 20px;
            }
        }
        .sobre-mi {
            P {
                font-size: 12PX;
            }
            div {
                width: 40%;
                padding: 0px;
                margin: 5px 0px 20px 5px;
                img {
                    width: 200px;
                    height: auto;
                    padding: 5px 5px 5px 10px;
                    border-radius: 15px;
                }
            }
        }
        .trabajos {
            padding: 15px;
        }
        .grid-trabajos {
            margin: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: 200px;
            gap: 6px;
        }
        .modelos{
            p{
                font-size: 14px;
                width: 38%;
                padding: -0px;
                margin: 10px 10px 10px 10px
            }
            a{
                padding: 5px 15px 5px 15px;
                border-radius: 10px;
                margin: 5px 0px 0px 0px;
            }
        }
        .e-comerce-descrip {
            background-image: url(../img/trabajos09.jpg);
            p{
                font-size: 14px;
                color:white;
                width: 45%;
                padding: 0px;
                margin: 10px 10px 10px 10px
            }
            a{
                padding: 5px 15px 5px 15px;
                border-radius: 10px;
                margin: 5px 0px 0px 0px;
            }
        }
        .bodas{
            background-position: right;
            background-position-x: +70%;
            p{
                font-size: 14px;
                color:rgb(0, 0, 0);
                width: 35%;
                padding: 0px;
                margin: 20px 20px 20px 20px
            }
            a{
                padding: 5px 15px 5px 15px;
                border-radius: 10px;
                margin: 5px 0px 0px 0px;
            }
        }
        .quince{
            p{
                font-size: 14px;
                width: 39%;
                padding: 0px;
                margin: 10px 20px 20px 20px
            }
            a{
                padding: 5px 15px 5px 15px;
                border-radius: 10px;
                margin: 5px 0px 0px 0px;
            }
        }
    }
}


@media screen and (max-width:600px) {
    main{
        .container {
            width: 95%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    
        .box-info {
            gap: 15px;
            h1 {
                font-size: 1.5rem;
            }
        }
        .data > p {
            font-size: 21px;
        }
    }
}

@media screen and (max-width:535px) {
    main{
        .hero {
            div {
                margin: 25px;
                width: 47%;
                h1 {
                    font-size: 25px;
                }
                p {
                    font-size: 13px;
                }
                a {
                    font-size: 14px;
                    padding: 5px 30px 5px 30px;
                }
            }
        }
    }
}

@media screen and (max-width:430px) {
    main{
        .hero {
            div {
                margin: 7px;
                width: 55%;
                p {
                    font-size: 12px;
                }
            }
        }
        /**------SOBRE-MI------*/
        .sobre-mi {
            display: block;
            align-content: center;
            text-align: center;
            P {
                font-size: 12PX;
            }
            
            div {
                width: 90%;
                padding: 0px;
                margin-left: 20px;
                img {
                    width: 150px;
                    padding: 5px;
                    border-radius: 10px;
                }
            }
        }
        .modelos{
            p{
                font-size: 13px;
                width: 40%;
                padding: 0px;
                margin: 7px 10px 10px 10px
            }
        }
        .e-comerce-descrip {
            p{
                font-size: 13px;
                width: 50%;
                padding: 0px;
                margin: 7px 10px 10px 10px
            }
        }
        .bodas{
            p{
                font-size: 13px;
                color:rgb(0, 0, 0);
                width: 40%;
                padding: 0px;
                margin: 20px 20px 20px 20px
            }
        }
        .quince{
            p{
                font-size: 13px;
                width: 44%;
                padding: 0px;
                margin: 10px 20px 20px 20px
            }
        }
        
    }
}
@media screen and (max-width:405px) {
    footer {
        div{
            img {
                width: 100px;
            }
            ul{
                li{
                    a{
                        font-size: 8px;
                        padding: 0px;
                    }
                }
            }
        }
        .redes img {
            width: 40px;
        }
    }
}        

